@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
  margin: 0px;
  padding: 0px;
  background-color: #CDE6D5;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#score-container {
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align:center;
    padding-top: 10px;
}
.scoreBox {
    z-index: 1;
    color: #F3F3F5;
    font-size: 48px;
    font-family: "Montserrat";
    display: inline-block;
}

#playerContainer {
    padding: 5% 10%;
    display: inline-block;
}